
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(193, 236, 221);
    width: 100%;
    align-items: center;
}

header div img{
    width: 155px;
}

header nav ul div{
    font-weight: 400;
    font-size: 25px ;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgba(21, 2, 87, 0.722);
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    align-items: center;
}

a{
    text-decoration: none;
}

header ul img{
    width: 50px;
    border-radius: 50%;
}

header ul li{
    margin: 20px
    }

h1{
    font-size: 40px;
    color: black;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: inline;
}

img{
   width: 150px;
   border-radius:15% ;
}

body{
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(224, 240, 235);
}

.caja{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor2{
    display: flex;
    flex-direction:row-reverse;
    width: 100%;
    background-color: rgb(166, 200, 255);
    align-items: center;
}

body h5{
    font-size: 30px;
    color: rgba(8, 1, 34, 0.722);
}

footer{
    width: 15%;
    display: flex;
    font-size: 20px;
    color: rgba(51, 0, 83, 0.722);
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(180, 183, 220);
    width: 100%;
    align-items: center;
}